<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flask | validate</title>
</head>
<body>
  <!-- validate -->
  <p>同じ内容を入力して送信をしてください</p>
  <!-- errorがrender_templateから渡されていればTrueになり表示される -->
  {% if error %}
    <p>{{ error }}</p>
  {% endif %}

  <form method="POST" action="{{ url_for('validate') }}">
    <p>名前：<input type="text" name="name"></p>
    <p>再入力：<input type="text" name="name2"></p>

    <button type="submit">送信</button>
  </form>

  <a href="/">topへ</a>
</body>
</html>