
html{
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: white;
  color: rgba(22, 21, 9, 0.493);
}

main {
  width: 60%;
  margin: auto;
}

/* header */
header {
  background-color: white;
  height: auto;
  width: 60%;
  margin: auto;
}
.menu-content {
  font-family: 'Cormorant Garamond', serif;
  width: 100%;
}
.menu-content ul {
  display: flex;
}
.menu-content ul li {
  border: 1px solid rgba(22, 21, 9, 0.493);
  border-right: none;
  width: 20%;
  height: auto;
  padding: .5em;
  text-align: center;
  font-size: 1.1rem;
}
.menu-content ul li:last-child {
  border-right: 1px solid rgba(22, 21, 9, 0.493);
}


/* Top button */
.pagetop{
  display: block;
  position: fixed;
  right: 15px;
  bottom: 60px;
  z-index: 9999;
}

.pagetop a{
  display: block;
  font-size: 0;
  width: 50px;
  height: 50px;
  text-align: center;
  background: rgba(22, 21, 9, 0.493);
  border-radius: 50%;
  line-height: 50px;
}

.pagetop a i{
    font-size: 20px;
    color:#fff;
    line-height: 50px;
}


/* Top */
.top-image {
  position: relative;
  margin-bottom: 200px;
  margin-top: 4em;
}

.top-image img {
  width: 70%;
  height: auto;
  object-fit: cover;
}

.name {
  position: absolute;
  bottom: -2em;
  right: 1em;
  text-align: center;
  font-size: 2.4rem;
  border: 1px solid rgba(22, 21, 9, 0.493);
  padding: 1em 1.5em;
  background-color: white;
  font-family: 'WindSong', cursive;
}

/* section */
section {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-bottom: 150px;
  padding-top: 1em;
}

section h1 {
  position: relative;
  width: 30%;
  border-bottom: 1.5px solid rgba(22, 21, 9, 0.493);
  font-size: 2.5em;
  margin: auto;
  padding: 0 15px;
  margin-bottom: 1.5em;
  font-family: 'Cormorant Garamond', serif;
}

section h1::after {
  position: absolute;
  content: "";
  width: 100%;
  min-height: 100%;
  top: 10px;
  left: 0;
  border-bottom: 1.5px solid rgba(22, 21, 9, 0.493);
}

section h2 {
  font-size: x-large;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

section h3 {
  font-size: large;
  margin-bottom: 15px;
  font-family: 'WindSong', cursive;
}

section h4 {
  font-size: 3em;
  margin-bottom: 0.8em;
  letter-spacing: 2px;
  font-family: 'Average', serif;
}

section p {
  letter-spacing: 2px;
  font-size: large;
  line-height: 150%;
}

/* Access */
.access-tab {
  width: 35%;
  margin: auto;
  margin-bottom: 50px;
  letter-spacing: 2px;
}

.access-tab td {
  font-size: large;
  vertical-align: middle;
  padding-bottom: 20px;
  text-align: left;
}

.access-tab td:last-child {
  font-family: 'Average', serif;
  font-size: xx-large;
  text-align: right;
}

.gmap {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  margin-bottom: 30px;
  }
  .gmap iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  }



/* RSVP */
#Rsvp form div input,
#Rsvp form div textarea,
#Rsvp input[type=submit] {
  border: 1px solid rgba(15, 15, 6, 0.493);
  border-radius: 8px;
}

#Rsvp form div input,
#Rsvp input[type=submit] {
  height: 2.5em;
}

#Rsvp form div textarea {
  height: calc(1.8em * 6);
  line-height: 1.8;
}

#Rsvp form div input,
#Rsvp form div textarea {
  width: 40%;
}

#Rsvp form div {
  margin-bottom: 2.5em;
}

#Rsvp form p {
  margin-bottom: 15px;
  font-size: medium;
}

#Rsvp span {
  color:salmon;
}

input[type=radio] {
  display: none;
}

input[type=radio] + label{
  padding: 10px 20px;
}

input[type=radio]:checked + label{
  border: 1px solid red;
  border-radius: 50%;
}

#Rsvp input[type=submit] {
  width: 150px;
  margin-top: 50px;
}

::placeholder {
  color: rgb(187, 184, 184);
}

/* 送信内容確認画面 */
#wrapper {
  width: 100%;
  margin: 8em 0;
  text-align: center;
}

#wrapper img {
  width: 7rem;
  height: auto;
  margin-bottom: 4rem;
}

#wrapper h1 {
  letter-spacing: 1px;
  margin-bottom: 1em;
  font-size: 2.5rem;
  font-family: 'Average', serif;
}

#wrapper .check {
  font-size: 1rem;
  color: salmon;
  font-family: 'Average', serif;
  margin-bottom: 3rem;
}

#wrapper div {
  margin: auto;
  width: 80%;
}

#wrapper h3 {
  margin-bottom: 15px;
  font-size: medium;
  letter-spacing: 2px;
}

#wrapper div p {
  margin-bottom: 1em;
  font-size: 1.25rem;
  letter-spacing: 2px;
}

#wrapper div {
  margin-bottom: 5em;
}

#wrapper a {
  border: 1px solid rgba(15, 15, 6, 0.493);
  border-radius: 8px;
  height: 2.5em;
  width: 150px;
  padding: 0.7em 30px;
  margin: auto;
  margin-top: 20px;
  display:  block;
}

#wrapper input[type=submit] {
  border: 1px solid rgba(15, 15, 6, 0.493);
  border-radius: 8px;
  height: 2.5em;
  width: 150px;
  margin-top: 30px;
}

.head-border {
  position: relative;
  display: inline-block;
  padding: 0 55px;
}

.head-border:before,
.head-border:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 50px;
  height: 1px;
  background-color: rgba(22, 21, 9, 0.493);
}

.head-border:before {
  left: 0;
}

.head-border:after {
  right: 0;
}


/* footer */
footer {
  border-top: 1px solid rgba(22, 21, 9, 0.493);
  height: 5rem;
}

footer p {
  font-size: x-small;
  margin: 1em;
}

/* レスポンシブ */
/* タブレットcss */
@media screen and (max-width: 1024px) {
  main {
    width: 100%;
  }

  /* ハンバーガーメニュー */
  header {
    position: fixed;
    z-index: 100;
    height: 0;
  }

  /*　ハンバーガーボタン　*/
  .hamburger {
    display : block;
    position: fixed;
    z-index : 3;
    right : 20px;
    top   : 20px;
    width : 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
  }
  .hamburger span {
    display : block;
    position: absolute;
    width   : 30px;
    height  : 2px ;
    left    : 6px;
    background : rgba(22, 21, 9, 0.493);
    transition        : 0.3s ease-in-out;
  }
  .hamburger span:nth-child(1) {
    top: 10px;
  }
  .hamburger span:nth-child(2) {
    top: 20px;
  }
  .hamburger span:nth-child(3) {
    top: 30px;
  }

  /* ナビ開いてる時のボタン */
  .hamburger.active span:nth-child(1) {
    top : 16px;
    left: 6px;
    transform        : rotate(-45deg);
    background-color: white;
  }

  .hamburger.active span:nth-child(2),
  .hamburger.active span:nth-child(3) {
    top: 16px;
    transform        : rotate(45deg);
    background-color: white;
  }

  /* メニュー画面 */
  .menu-content {
    position: fixed;
    z-index : 2;
    top  : 0;
    right : 0;
    color: white;
    background: rgba(22, 21, 9, 0.8);
    transform: translateX(100%);
    transition: all 0.6s;
    width: 40%;
    height: 100vh;
  }

  .menu-content ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: initial;
  }

  .menu-content ul li {
    list-style-type: none;
    padding: 0;
    text-align: initial;
    width: 100%;
    border: initial;
    border-bottom: 1px solid #fff;
  }
  .menu-content ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
    border-right: none;
  }

  .menu-content ul li:hover{
    background : rgb(143, 132, 131);
  }

  .menu-content ul li a {
    display: block;
    color: white;
    padding: 1em 1em;
    text-decoration :none;
  }

/* このクラスを、jQueryで付与・削除する */
  .menu-content.active {
    transform: translateX(0%);
  }

  /* Top */
  .top-image {
    padding-top: 12vh;
    margin-top: 0;
  }
  .top-image img {
    width: 70%;
  }

  /* section */

  section h1 {
    width: 30%;
    font-size: 2rem;
  }

  section h2 {
    font-size: 1.7rem;
  }
  
  section h3 {
    font-size: 1.4rem;
  }
  
  section h4 {
    font-size: 3rem;
  }
  
  section p {
    font-size: 1rem;
  }


  /* Access */
  .access-tab {
    width: 45%;
  }
  
  .access-tab td {
    font-size: 1rem;
    padding-bottom: 15px;
  }
  
  .access-tab td:last-child {
    font-size: 2rem;
  }


  /* RSVP */
  #Rsvp form div input,
  #Rsvp form div textarea {
    width: 50%;
  }
  
  #Rsvp form p {
    font-size: 1rem;
  }
  
  input[type=radio] + label{
    font-size: 1.3rem;
  }

  #Rsvp form div input,
  #Rsvp input[type=submit] {
    height: 2.8em;
  }

}

/* スマホcss */
@media screen and (max-width: 480px) {
  /* ハンバーガーボタン */
  .hamburger {
    right : 13px;
    top   : 12px;
  }

  /* メニュー画面 */
  .menu-content {
    width: 60%;
  }

  /* Top */
  .top-image img {
    width: 80%;
  }

  .name {
    font-size: 1.4rem;
  }

  /* section */

  section h1 {
    width: 55%;
    font-size: 1.6em;
  }
  
  section h2 {
    font-size: large;
  }
  
  section h3 {
    font-size: large;
  }
  
  section h4 {
    font-size: 2.5rem;
  }
  
  section p {
    font-size: 0.8rem;
  }

  /* Access */
  .access-tab {
    width: 70%;
  }
  
  .access-tab td {
    font-size: 0.8rem;
  }
  
  .access-tab td:last-child {
    font-size: 1.8rem;
  }

  /* RSVP */
  #Rsvp form div input,
  #Rsvp form div textarea {
    width: 80%;
  }
  
  #Rsvp form p {
    font-size: 0.9rem;
  }
  
  input[type=radio] + label{
    font-size: 1rem;
  }

  #Rsvp form div input,
  #Rsvp input[type=submit] {
    height: 2.3em;
  }
}