{% extends 'base.html' %}
{% load static %}

{% block title %}Contents Check{% endblock %}

{% block content %}
<div id="wrapper">
  <h1>Contents Check</h1>
  <p class="check">送信はまだ完了していません。<br>
    内容に間違いがなければ送信してください。
  </p>
  <img src="{% static 'invitation/images/flower.png' %}" alt="フラワー">
  {% if guest %}
  <div>
    <h3 class="head-border">ゲスト様</h3>
    <p>{{ guest }}</p>
  </div>
  {% endif %}
  {% if name %}
  <div>
    <h3 class="head-border">名前</h3>
    <p>{{ name }}</p>
  </div>
  {% endif %}
  {% if furi %}
  <div>
    <h3 class="head-border">ふりがな</h3>
    <p>{{ furi }}</p>
  </div>
  {% endif %}
  {% if tel %}
  <div>
    <h3 class="head-border">電話番号</h3>
    <p>{{ tel }}</p>
  </div>
  {% endif %}
  {% if post%}
  <div>
    <h3 class="head-border">郵便番号</h3>
    <p>{{ post }}</p>
  </div>
  {% endif %}
  {% if address %}
  <div>
    <h3 class="head-border">住所</h3>
    <p>{{ address }}</p>
  </div>
  {% endif %}
  {% if message %}
  <div>
    <h3 class="head-border">メッセージ</h3>
    <p>{{ message }}</p>
  </div>
  {% endif %}
  {% if allergy %}
  <div>
    <h3 class="head-border">アレルギー</h3>
    <p>{{ allergy }}</p>
  </div>
  {% endif %}

  {% if conpanion3 != ' 様' %}
  <div>
    <h3 class="head-border">お連れ様</h3>
    <p>{{ conpanion1 }}</p>
    <p>{{ conpanion2 }}</p>
    <p>{{ conpanion3 }}</p>
  </div>
  {% elif conpanion2 != ' 様' %}
  <div>
    <h3 class="head-border">お連れ様</h3>
    <p>{{ conpanion1 }}</p>
    <p>{{ conpanion2 }}</p>
  </div>
  {% elif conpanion1 != ' 様' %}
  <div>
    <h3 class="head-border">お連れ様</h3>
    <p>{{ conpanion1 }}</p>
  </div>
  {% endif %}
  
  {% if attendance %}
  <div>
    <h3 class="head-border">出欠</h3>
    <p>{{ attendance }}</p>
  </div>
  {% endif %}

  <a href="{% url 'invitation' %}#Rsvp">戻 る</a>

  <form action="{% url 'check' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="送 信">
  </form>
</div>
{% endblock %}